body
{
  background-color: #000000  ;
  color: #fff;
}
.intro
{
  margin-top: 120px;
}
.intro-text
{
  margin-top: 50px;
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: 'Indie Flower', cursive;
}
.big-heading
{
  font-size: 3.2rem;
    line-height: 1.5;
    font-family: 'Lemonada', cursive;
}
.title-image
{
  width: 40%;
  border-radius: 10%;
  margin-top: 70px;
transform: rotate(-25deg);
position: absolute;
right: 30%;
}

#title
{
  text-align: left;

}

#title .container-fluid
{
  padding: 3% 10% 7%;
}
.testimonial-image
{
  width: 50%;
}
.testimonial-text
{
  text-align: left;
  margin-bottom: 5%;
  margin-top: 10%;
  font-family: 'Architects Daughter', cursive;
}
.nav-item
{
  padding: 0 18px;
}
#testimonials
{
  text-align: center;
}
.footer-text
{
  margin-top: 20px;

}
.navbar-brand
{
  font-size: 2.5rem;
  font-weight: bold;

}
 /* .hd2
{
  margin-top: 0;
} */
.testimonial-text2
{
  text-align: left;
  margin-top: 70px;
  margin-bottom: 50px;
}
h5
{
  margin-top: 50px;
  line-height: 2;
  font-family: 'Architects Daughter', cursive;
}
.title-image2
{
  width: 40%;

  margin-top: 90px;
transform: rotate(0);
position: absolute;
right: 30%;
}
.tt
{
  margin-top: 100px;
  border-radius: 100px;
  width: 50%;
}
.vid
{
  margin-top: 100px;
  width: 50%;
}
.vids
{

   position: relative;
  left: 350px;
  margin-top: 0;
}


@media (max-width : 1028px)
{
  h5
  {
    font-family: serif;
  }
  .intro-text{
    font-family: serif;
  }
  #title
  {
    text-align: center;
  }

.title-image
{
  position: static;
  transform: rotate(-25deg);
}
.title-image2
{
  position: static;
  transform: rotate(25deg);
  border-radius: 10px;
}

.future
{
  text-align: center;
}
.video {
  width: 400px;
margin-left: auto;
margin-right: auto;
display: block;
}
.testimonial-text2
{
  text-align: center;

}
.vids
{
  position: relative;
  left: 30px;
  width: 400px;
}
.footer-text
{
  font-size: 1.5rem;
}
.big-heading
{
  margin-top: 0;
}
}
